<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${group.name}"></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<div class="nav-bar">
    <div>
        <a th:href="@{/hello}">Головна</a>
        <a th:href="@{/groups}">Групи</a>
        <a th:href="@{/students}">Студенти</a>
        <a th:href="@{/teachers}">Викладачі</a>
        <a th:href="@{/quizzes}">Тести</a>
        <a th:href="@{/results}">Результати</a>
    </div>
</div>
<h2 th:text="${group.name}"></h2>
<table class="ma-table">
    <tr>
        <td class="table-header">Номер</td>
        <td class="table-header">Ім'я</td>
        <td class="table-header">Пароль</td>
        <td class="table-header">Група</td>
        <td class="table-header">Видалити</td>
    </tr>
    <th:block th:each="val: ${group.students}">
        <tr>
            <td style="text-align: center" th:text="${val.id}"></td>
            <td th:text="${val.name}"></td>
            <td th:text="${val.password}"></td>
            <td> <a th:text="${val.group.name}" th:href="@{/groups/{id}(id=${val.group.id})}"></a></td>
            <td>
                <form th:action="@{students/delete/{id}(id=${val.id})}">
                    <div style="text-align: center"><input class="button-del" type="submit" value="X"/></div>
                </form>
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>