<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tecnb</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<div>
    <a th:href="@{/hello}">Home</a>
    <a th:href="@{/groups}">Групи</a>
    <a th:href="@{/students}">Студенти</a>
    <a th:href="@{/teachers}">Викладачи</a>
    <a th:href="@{/quizzes}">Тести</a>
</div>
<h3>Tести</h3>
<table>
    <tr>
        <td>Номер</td>
        <td>Назва</td>

        <td>Час виконання</td>
        <td>Килькисть питань</td>
    </tr>
    <th:block th:each="val: ${quizzes}">
        <tr>
            <td th:text="${val.id}"></td>
            <td th:text="${val.title}"></td>
            <td th:text="${val.completionTime} + 'хв'"></td>
            <td th:text="${val.list.size()}"></td>
        </tr>
    </th:block>

</table>

<hr/>
<form name="quiz" method="get" action="/quizzes/creation">
    <div><input type="submit" value="Створити"/></div>
</form>
<hr/>
<h4>Регістрація на тести</h4>
<form action="/quizzes/permissions", method="post">
    <div>
        <select name="group">
            <option value="">Выбереть группу</option>
            <option th:each="gp : ${groups}"
                    th:value="${gp.id}"
                    th:text="${gp.id}+' : '+${gp.name}"></option>
        </select>
    </div>
    <div>
        <select name="quiz">
            <option value="">Выберете тест</option>
            <option th:each="qz : ${quizzes}"
                    th:value="${qz.id}"
                    th:text="${qz.id}+' : '+${qz.title}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="Надати доступ"/>
    </div>
</form>
</body>
<script>

</script>
</html>