<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tecnb</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<div class="nav-bar">
    <div>
        <a th:href="@{/hello}">Головна</a>
        <a th:href="@{/groups}">Групи</a>
        <a th:href="@{/students}">Студенти</a>
        <a th:href="@{/teachers}">Викладачі</a>
        <a th:href="@{/quizzes}">Тести</a>
        <a th:href="@{/results}">Результати</a>
    </div>
</div>
<h2>Tести</h2>
<table class="ma-table">
    <tr>
        <td class="table-header">Номер</td>
        <td class="table-header">Назва</td>

        <td class="table-header">Час виконання</td>
        <td class="table-header">Кількість питань</td>
    </tr>
    <th:block th:each="val: ${quizzes}">
        <tr>
            <td style="text-align: center" th:text="${val.id}"></td>
            <td><a th:text="${val.title}" th:href="@{/results/quiz/{id}(id=${val.id})}"></a></td>
            <td th:text="${val.completionTime} + 'хв'"></td>
            <td th:text="${val.list.size()}"></td>
        </tr>
    </th:block>

</table>

<hr/>
<form style="width: 478px" class="nav-bar" name="quiz" method="get" action="/quizzes/creation">
    <div><input class="button" type="submit" value="Створити"/></div>
</form>
<hr/>
<h2>Реєстрація на тести</h2>
<form style="width: 478px" class="nav-bar" action="/quizzes/permissions", method="post">
    <div>
        <select class="ma-select" name="group">
            <option value="">Виберіть групу</option>
            <option th:each="gp : ${groups}"
                    th:value="${gp.id}"
                    th:text="${gp.id}+' : '+${gp.name}"></option>
        </select>
    </div>
    <div>
        <select class="ma-select" name="quiz">
            <option value="">Виберіть тест</option>
            <option th:each="qz : ${quizzes}"
                    th:value="${qz.id}"
                    th:text="${qz.id}+' : '+${qz.title}"></option>
        </select>
    </div>
    <div>
        <input class="button" type="submit" value="Надати доступ"/>
    </div>
</form>
</body>
<script>
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
</script>
</html>