<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<h3>Test Creation</h3>


<div name="creation">
    <div>
        <div><label> Назва: <input type="text" name="quiz-title"/> </label></div>
        <div><label> Час на виконання(хв.): <input type="number" name="quiz-time"/> </label></div>
    </div>
    <div id="ready-questions">
        <h3>Питання</h3>
        <table id="qestions-table">


        </table>
    </div>
    <div id="questions-pane">
        <hr>
        <div id="question-form">
            <div><label> Назва: <input type="text" id="quest-title"/> </label></div>
            <div><label> Опис: <input type="text" id="quest-desc"/> </label></div>
            <div><label> Вага: <input type="number" id="quest-weight" value="1"> </label></div>
        </div>
        <button onclick="addQuestion()">Додати питання</button>
        <hr>
        <div id="answers-pane">
            <h3>Відповіді</h3>
            <table id="answers-table">


            </table>
            <hr/>
            <div id="answers-form">
                <div><label> Текст: <input type="text" id="answer-body"/> </label></div>
                <div><label> Правильный: <input type="checkbox" id="answer-right"> </label></div>
                <button onclick="addAnswer()">Додати варіант</button>
            </div>
        </div>
    </div>

    <hr/>
</div>

<button onclick="extractData()">Створити</button>
</body>
</html>


<script>
    let questions = [];
    let answers = [];

    class Quiz {
        constructor(title, completionTime, questions) {
            this.title = title;
            this.completionTime = completionTime;
            this.list = questions
        }
    }

    class Question {
        constructor(title, description, weight, all, correct) {
            this.title = title;
            this.description = description;
            this.weitgh = weight;
            this.all = all;
            this.correct = correct;
        }
    }

    class Answer {
        constructor(value, right) {
            this.value = value;
            this.isRight = right;
        }
    }

    class FinalAnswer {
        constructor(value) {
            this.value = value;
        }
    }

    function deleteQuestion(id) {
        let arr = questions.splice(id, 1);
        drawQuestions(questions);
    }

    function drawQuestions(questions) {
        let table = document.getElementById("qestions-table");
        table.innerHTML = '<tr>\n' +
            '                 <td>Назва</td>\n' +
            '                 <td>Опис</td>\n' +
            '                 <td>Вага</td>\n' +
            '                 <td>Видповиди</td>\n' +
            '                 <td>Видалити</td>\n' +
            '            </tr>';


        for (let i = 0; i < questions.length; i++) {
            let tr = table.insertRow();
            let title = tr.insertCell();
            let description = tr.insertCell();
            let weitgh = tr.insertCell();
            let all = tr.insertCell();
            let del = tr.insertCell();


            del.innerHTML =
                '<button onclick="deleteQuestion(' + i + ')">X' +
                '</button>';

            title.innerText = questions[i].title;
            description.innerText = questions[i].description;
            weitgh.innerText = questions[i].weitgh;
            all.innerText = questions[i].all.length;
        }
    }

    function deleteAnswer(id) {
        let arr = answers.splice(id, 1);
        drawAnswers(answers);
    }

    function drawAnswers(answers) {
        console.log(answers)
        let table = document.getElementById("answers-table");
        table.innerHTML = '<tr>\n' +
            '                 <td>Текст</td>\n' +
            '                 <td>Правильный</td>\n' +
            '                 <td>Видалити</td>\n' +
            '            </tr>';


        for (let i = 0; i < answers.length; i++) {
            let tr = table.insertRow();
            let text = tr.insertCell();
            let right = tr.insertCell();
            let del = tr.insertCell();


            del.innerHTML =
                '<button onclick="deleteAnswer(' + i + ')">X' +
                '</button>';

            text.innerText = answers[i].value;
            right.innerText = answers[i].isRight;
        }
    }

    drawQuestions(questions);
    drawAnswers(answers);

    function extractData() {
        let title = document.getElementsByName("quiz-title")[0].value;
        let time = document.getElementsByName("quiz-time")[0].value;
        if (questions.length < 1) {
            alert("Кількість тестів менше 1.")
            return
        }
        const quiz = new Quiz(title, time, questions);

        console.log(quiz);
        post(quiz)
    }

    function addQuestion() {
        if (answers.length < 2) {
            alert("Кількість варіантів відповідей менше двох");
            return
        }

        let isRightProvided = false;
        answers.map(ans => ans.isRight).forEach(bool => {
            isRightProvided = isRightProvided || bool
        });

        if (!isRightProvided) {
            alert("Не вказана правильна відповідь")
            return
        }


        let qf = document.getElementById("question-form");
        let title = qf.querySelector("#quest-title").value;
        let desc = qf.querySelector("#quest-desc").value;
        let weight = qf.querySelector("#quest-weight").value;

        let all = [];
        let right = [];
        answers.forEach(ans => {
           all.push(new FinalAnswer(ans.value));
           if (ans.isRight) {
               right.push(new FinalAnswer(ans.value))
           }
        });
        let question = new Question(title, desc, weight, all, right);
        questions.push(question);
        answers = [];
        drawQuestions(questions);
        drawAnswers(answers);
    }

    function addAnswer() {
        let af = document.getElementById("answers-form");
        let value = af.querySelector("#answer-body").value;
        let right = af.querySelector("#answer-right").checked;
        answer = new Answer(value, right)
        answers.push(answer);
        drawAnswers(answers)
    }


    function post(quiz) {
        let request = new XMLHttpRequest();
        request.open("POST", "/quizzes/creation");
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(quiz));
         window.location.href = '/quizzes'
    }
</script>
